.wrapper {
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  grid-gap: 10px 40px;
}

.divider, .desc {
  grid-column: 1/-1;
}
.btns {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 10px 20px;
  gap: 10px 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  gap: 10px;
}
.title img {
  align-self: center;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: -1;
}
.title h3 {
  align-self: flex-end;
}

.reviews {
  overflow: hidden;
  max-height: 0;
  padding: 0;
}
.reviewOpen {
  max-height: 100%;
  overflow: auto;
}
