html,
body {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --accent: #7653FC;

  --text-black: #3B434E;
  --text-gray: #787D85;
  --text-placholder: #A4A4A4;

  --border-color: #EBEBEB;
  --border: 1px solid #EBEBEB;

  --button-hover: rgba(118, 83, 252, 0.85)
}